h1 {
	padding-top: 8px;
	font-size: 24px;
	color: black;
	@include font-proxima('semi');
	text-transform: uppercase;
}
h3 {
	font-size: 14px;
	color: black;
	@include font-minion('italic');
	padding-top: 8px;
}
.cat-head {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 30px;
}
.thumb-grid {
	display: flex;
	text-align: center;
	width: 100%;
}
.story-thumb {
	display: block;
	padding-bottom: 3rem;
	text-align: center;
	&.hovered {
		a.thumb img {
			opacity: 0.4; -webkit-filter: blur(5px); -moz-filter: blur(5px); -o-filter: blur(5px); -ms-filter: blur(5px); filter: blur(5px);
   		}
		p.quote {opacity: 1;-webkit-transition-delay: 0.05s; /* Safari */
    transition-delay: 0.05s; top:50%;
    span{top:0; opacity: 1; -webkit-transition-delay: 0.8s; /* Safari */
    transition-delay: 0.8s;}}
	}
	a.thumb {margin-bottom: 8px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		width: 100%;
		display: inherit;
		height: 220px;
		overflow: hidden;
		img { position: relative; min-height: 100%;
		  top: 50%;
		  left: 50%;
		   -webkit-transform: translate(-50%,-50%);
		  -ms-transform: translate(-50%,-50%);
		  transform: translate(-50%,-50%);}

	}
	&:nth-child(3n+0) {
		margin: 0 0 0 auto;
	}
	&:nth-child(3n+2) {
		margin: 0 auto;
	}
	p.quote {
		position: absolute;
		top: -20px;
		left: 0;
		padding: 0 40px;
		top: 50%;
		-ms-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		@include font-minion('italic');
		font-size: 160%;
		color: black;
		text-align: center;
		width: 100%;
		opacity: 0;
		line-height: 140%;
		-webkit-transition-delay: 0.5s; /* Safari */
		transition-delay: 0.5s;
		span {
			@include font-proxima('semi');
			font-size: 65%;
			display: block;
			position: relative; top: 0px; opacity: 0;
		}
	}
	h2 {
		@include font-proxima('regular');
		color: black;
		font-size: 1.2rem;
		margin: 8px auto 6px;
		text-transform: uppercase;
	}
	.excerpt {
		@include font-minion();
		color: black;
		font-size: 1rem;
		line-height: 1rem;
		margin-bottom: 8px;
		padding: 2px 10px;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
		height: 50px;
	}
}
.tags {
	padding: 8px 0 0;
	margin-bottom: 12px;
	li a {
		background-color: #959595;
		color: white !important;
		@include font-proxima();
		margin: 0 4px 0 0;
		padding: 2px 4px;
		text-transform: uppercase;
	}
}
.dot-irecommendthis {
	span {
		font-size: 1.1rem;
		@include font-proxima();
	}
	&:before {
		font-size: 1.4rem;
		content: '\f087';
		font-family: 'FontAwesome';
		margin-right: 0.3rem;
		top: 1px;
		position: relative;
	}
}
